@import 'https://fonts.googleapis.com/css?family=Raleway';
*{
  padding: 0;
  margin: 0;
  font-family: 'Raleway', sans-serif;
}
.desplegarMenuM1{
  visibility: visible !important;
  background: rgba(0,0,0,0.2) !important;
}


.desplegarMenuM2{
  left: 0!important;
}
.contenedor-principal{
  position: fixed;
  width: 110%;
  overflow: scroll;
  height: 110%;
  background-color: #F7F7F7;
}
.contMenu{
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.2);
  visibility: hidden;
  z-index: 111;
  transition: 0.05s;
}
.menuDesplegable{
  position: absolute;
  left: -100%;
  background: white;
  width: 80%;
  height: 100%;
  box-shadow: 0 0 10px black;
  font-size: 10px;
  z-index: 9999;
  transition: 0.2s ease-in-out;
  overflow: scroll;
  overflow-x: hidden;
}
#tituloMenu{
  position: relative;
  width: 100%;
  height: 180px;
  box-shadow: inset 0 0 200px 60px rgba(0,0,0,0.3);
}
#tituloMenu h1{
  position: relative;
  top: 140px;
  color: white;
  margin-left: 15%;
  font-size: 26px;
  font-weight: 100;
}
.imgPerM{
  width: 100%;
  height: 180px;
  position: absolute !important;
  left: 0;
}
.opMenu{
  margin-top: 15px;
}
.menuDesplegable .opciones{
  padding-top: 10px;
  padding-left: 10px;
  width: 96.5%;
  height: 50px;
  border-bottom: 1px solid #f2f2f2;
}
.menuDesplegable .opciones:hover{
  background: rgba(70, 126, 155, 0.5);
}
.actual{
  background: rgba(70, 126, 155, 0.8);
}
.menuDesplegable .opciones:hover img, .menuDesplegable .opciones:hover h2, .actual img, .actual h2{
  -webkit-filter: invert(100%);
}
.menuDesplegable .opciones img{
  position: relative;
  top: 7px;
  width: 30px;
  float: left;
}
.menuDesplegable .opciones h2{
  position: relative;
  top: 10px;
  color: black;
  text-decoration: none;
  margin-left: 50px;
  font-size: 20px;
  font-weight: 400;
}
.menuDesplegable a{
  text-decoration: none;
  -webkit-tap-highlight-color: transparent;
}
.notificaciones{
  z-index: 999999999;
  background: rgba(19,129,141,1);
  position: absolute;
  top: -30%;
  width: 100%;
  height: 60px;
  text-align: center;
  -webkit-transition:.8s all;
  box-shadow: 0 0 10px black;
}
  .notificaciones h1{
    color: rgba(255,255,255,0.8);
    margin-top: 15px;
    font-size: 18px;
  }
#wallpaper{
  position: fixed;
  width: 300%;
}
.colorfondo{
  position: absolute;
  background: rgba(0,0,0,0.6);
  width: 100%;
  height: 100%;
}
.icono{
  position: relative;
  top: 20px;
  height: 120px;
  float: left;
  width: 100%;
  /*background-color: blue;*/
  text-align: center;
}
  .icono img{
    width: 80px;
  }
  .icono h1{
    font-size: 20px;
    color: white;
  }
  /*Registro*/
  .icono h3{
    width: 80%;
    margin-left: 10%;
    margin-top: 5%;
    font-size: 14px;
    color: white;
  }
.registro-login{
  position: relative;
  background-color: red;
  height: 500px;
  width: auto;
}
.datos-login{
  text-align: center;
  position: absolute;
  margin: auto;
  background-color: blue;
  top: 30px;
  height: 350px;
  left: 0%;

}
    .datos-login input, .contenido-opciones input, .datos-login select{
      text-align: center;
      border: none;
      background: rgba(183,212,219,0.5);
      margin-top: 3%;
      width: 70%;
      height: 35px;
      border-radius: 20px;
      outline: none;
      font-size: 15px;
      color: white;
    }
    /*Registro*/
    .datos-login select{
      padding-left: 29%;
    }
    ::-webkit-input-placeholder{
      color: white;
    }
    .especial-input{
      border: 1px solid white !important;
      background: rgba(183,212,219,0) !important;
    }
    .datos-login h4{
      margin-top: 20px;
    }
    .datos-login a{
      color: white;
      text-decoration: none;
    }
  .contenido-opciones{
    margin-top: 15%;
    width: 100%;
    height: 120px;
  }
  .registroInput{
    margin-top: 10%;
    height: 50px;
  }
  .contenido-opciones a, .datos-login a{
    color: white;
    text-decoration: none;
    outline: none;
    -webkit-tap-highlight-color: transparent;
  }
  .contenido-opciones a:active{
color:none;  }
  .contenido-opciones h4{
    margin-top: 10px;
  }
/****Index***/
.resultados{
  position: relative;
  float: left;
  top: 0;
  width: 100%;
  overflow: scroll;
  height: 100%;
  background-color: #F7F7F7;
}
 .menuIcono{
   position: absolute;
   top: 0;
   left: 0;
   z-index: 11;
 }
 .menuIcono img{
    width: 60px;
 }
.imagenIndex{
  position: relative;
  top: 60px;
  border-radius: 50%;
  background-color: #5FB8B6;
  height: 150px;
  width: 150px;
  text-align: center;
  left: 30%;
}
  .imagenIndex img{
    margin-top: 20px;
    width: 80%;
  }
  .resultados .titulos{
    width: 100%;
    position: relative;
    top: 70px;
    text-align: center;
  }
  .titulos h1{
    font-size: 20px;
    margin-bottom: 10px;
  }
  .titulos p{
    font-size: 14px;
  }
  .icono-enviar{
    position: absolute;
    top: 5px;
    left: 85%;
    width: 60px;
    height: 40px;
  }
  .icono-enviar img{
    border: none;
    margin-top: 10px;
    width: 20px !important;
    height: 20px;
    outline: none;
    margin-left: 30%;
  }
.busqueda{
  position: fixed;
  width: 100%;
  height: 51px;
  z-index: 11;
  background: rgba(70, 126, 155, 1);
  display: none;
}
.busqueda img{
  position: relative;
  float: left;
  height: 20px;
  margin-left: 3.2%;
  margin-top: 15px;
}
.busqueda #imgBack{
  -webkit-filter: invert(100%);
}
.busqueda input{
  background: transparent;
  border: none;
  outline: none;
  border-bottom: 1px solid white;
  position: relative;
  float: left;
  width: 75%;
  margin-left: 3%;
  height: 30px;
  margin-top: 10px;
  font-size: 16px;
  font-weight: 400;
  color: white;
}
.listen{
  left: 25% !important;
}
/** Resultados Busquedas **/
.respuestas{
  position: relative;
  top: 65px;
  width: 100%;
}
.respuestas2{
  position: relative;
  top: -10px;
  width: 100%;
}
.respuesta{
  position: relative;
  float: left;
  left: 5%;
  width: 90%;
  height: 100px;
  background: white;
  margin-top: 5px;
  border: 1px solid #f2f2f2;
}
  .respuesta .pais{
    margin-left: 5%;
    height: 30%;
    border-bottom: 1px solid #f2f2f2;
    width: 90%;
  }
  .respuesta .pais h1{
    margin-top: 20px;
    margin-left: 1%;
    font-size: 18px;
  }
  .respuesta .palabra{
    width: 60%;
    height: 70%;
    border-right: 1px solid #f2f2f2;
    float: left;
  }
  .respuesta .palabra h3{
    margin-top: 8%;
    margin-left: 11%;
    font-size: 22px;
  }
  .respuesta .bandera{
    float: left;
    width: 38.5%;
    height: 70%;
  }
  .respuesta .bandera img{
    margin-top: 8%;
    margin-left: 25%;
    width: 40%;
    height: 45%;
  }
  @media (min-width: 500px) {
    /* Index */
    .respuesta{
      height: 150px;
    }
    .icono-enviar{
      margin-left: 6%;
    }
    .listen{
      margin-left: 11% !important;
    }
    /* Login */
    .datos-login{
      top: 100px;
    }
    .notificaciones{
      top: -70%;
    }
    .registro{
      margin-top: -10%;
    }
    .registroInput{
      height: 100px;
    }
    #wallpaper{
      width: 100%;
    }
    .busqueda #busqueda2{
      margin-left: 9.5%;
    }
    .sugeridas .aceptar img, .sugeridas .rechazar img{
      margin-top: -3%;
      width: 60px;
    }
    /** Index**/
    .imagenIndex{
      left: 40%;
    }
    /** Sugeridas**/
    .contenedorSugerencias{
      height: auto !important;
      overflow: hidden !important;
    }
    .sugerenciaTarjeta .opcionesSug{
      padding: 10px !important;
      width: 7% !important;
      position: relative;
      left: 24% !important;
      height: 60% !important;
    }
    .sugerenciaTarjeta .banderaSug{
      width: 10% !important;
    }
    /**Aceptar Sugrencias**/
    .banderaEspe{
      position: relative;
      top: 10px !important;
      width: 7% !important;
    }
    .sugeridas .pais2{
      width: 61% !important;
    }
    .sugeridas .pais2 h1{
      margin-top: 15px !important;
      font-size: 19px;
    }
    .sugeridas .aceptar{
      position: relative;
      left: 20% !important;
      top: -11px;
      width: 10% !important;
    }
    .sugeridas .aceptar:hover{
      position: relative;
      top: 0px;
    }
    .sugeridas .aceptar:hover img{
      position: relative;
      top: 1px;
    }
    .sugeridas .aceptar img{
      position: relative;
      top: 8px;
      left: -8px;
      width: 70%;
    }
    .palabraEspecifica .speaker{
      left: 83% !important;
    }
    /**Reportes**/
    .report{
      left: 40% !important;
    }
  }
/** Sugerir Palabra**/
.enviarSugerencia{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 50px;
  background-color: rgba(70, 126, 155, 1);
  box-shadow: 0 0 20px rgba(0,0,0,0.5);
  z-index: 11;
}
.enviarSugerencia h1{
  color: white;
  float: left;
  font-size: 18px;
  margin-top: 15px;
  margin-left: 5%;
  font-weight: 400;
  width: 72%;
}
.enviarSugerencia a{
  -webkit-tap-highlight-color: transparent;
}
.enviarSugerencia img{
  margin-top: 15px;
  float: left;
  width: 20px;
  height: 20px;
  margin-left: 4%;
  -webkit-filter: invert(100%);
}
.contSugerencias{
  height: 100%;
}
.sugerencia{
  position: relative;
  top: 80px;
  left: 10%;
  width: 80%;
  height: 200px;
  transition: 0.2s all;
}
/* CheckBox*/
.sugerencia input[type="checkbox"]{
  width: 25px;
  float: left;
}
.sugerencia p{
  margin-left: 8px;
  margin-top: 20px;
  float: left;
}
.sugerencia input, .sugerencia select{
  background-color: transparent;
  width: 100%;
  height: 30px;
  margin-top: 15px;
  border: none;
  color: black;
  font-size: 18px;
  border-bottom: 2px solid rgba(70, 126, 155, 0.5);
  outline: none;
}
#definicion1{
  display: none;
}
#definicion_unesco{
  display: none;
}
#definicion_ifilac{
  display: none;
}
#definicion2{
  display: none;
}
.sugerencia input::-webkit-input-placeholder{
  color: rgba(0,0,0,0.5);
}
/** Aceptar Sugerencias**/
.sugerenciaRespMenu{
  position: fixed;
  height: 50px;
  width: 100%;
  z-index: 11;
  background-color: rgba(70, 126, 155, 1);
  box-shadow: 0 0 10px black;
}
.sugerenciaRespMenu img{
  float: left;
  width: 50px;
}
.sugerenciaRespMenu h1{
  float: left;
  width: 60%;
  font-size: 18px;
  font-weight: 400;
  color: white;
  margin-top: 15px;
  margin-left: 5%;
}
.sugerenciaResp{
  height: 100%;
}
.sugeridas{
  height: 50px;
}
.banderaEspe{
  position: relative;
  top: 15px;
  float: left;
  margin-left: 2%;
  width: 10%;
}
.sugeridas .pais2{
  position: relative;
  float: left;
  height: 100%;
  width: 58%;
}
.pais2 h1{
  margin-top: 5%;
  margin-left: 9%;
  font-size: 16px;
  font-weight: 400;
}
.sugeridas .aceptar, .sugeridas .rechazar{
  position: relative;
  float: left;
  margin-top: 2%;
  height: 100%;
  width: 28%;
  border-left: 1px solid #f2f2f2;
}
.sugeridas .aceptar:hover{
  width: 29.6%;
  margin-top: 0;
  height: 100%;
  background: rgba(114,174,246,0.2);
}
.sugeridas .aceptar:hover >img,.sugeridas .rechazar:hover >img{
  margin-top: 7%;
}
.sugeridas .rechazar:hover{
  width: 29.6%;
  margin-top: 0;
  height: 40%;
  background: rgba(221,29,63,0.2);
}
.rechazar img, .aceptar img{
  margin-left: 30%;
  width: 40%;
}
/*** Perfil***/
.perfilTop{
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: 200px;
  background-size: 100%;
  box-shadow: inset 0 0 200px 60px rgba(0,0,0,0.5);
}
.perfilTop #edit{
  position: absolute;
  right: 0;
  margin-right: 5%;
}
#perfil{
  opacity: 1;
  position: absolute !important;
  left: 0;
  height: 200px;
  -webkit-filter: invert(0%);
  width: 100%;
  transition: 1s all;
}
.perfilTop img{
  margin-left: 5%;
  margin-top: 30px;
  width: 20px;
  -webkit-filter: invert(100%);
}
.perfilTop h1{
  position: relative;
  top: 110px;
  color: white;
  margin-left: 15%;
  font-size: 26px;
  font-weight: 400;
}
.perfilTop h2{
  cursor: pointer;
  display: none;
  position: absolute;
  right: 3%;
  color: white;
  top: 82%;
  font-size: 20px;
  font-weight: 400;
  -webkit-transition: 1s all;
  -webkit-tap-highlight-color: transparent;
}
.perfilTop #cancelar{
  margin-right: 25%;
}
.perfilTop a{
  -webkit-tap-highlight-color: transparent;
}
.perfilTop input[type="file"]{
  display: none;
}
.informacionPerfil{
  position: relative;
  width: 100%;
  height: 250px;
}
.tarjeta{
  background: white;
  width: 90%;
  height: 50px;
  border: 1px solid #f2f2f2;
  margin-top: 5%;
  margin-left: 5%;
}
.tarjeta img{
  margin-top: 10px;
  margin-left: 5%;
  width: 30px;
  float: left;
}
.tarjeta #bandera{
  margin-top: 15px;
}
.tarjeta h1{
  margin-top: 15px;
  font-size: 18px;
  font-weight: 400;
  margin-left: 20%;
}
.contendorProgreso{
  position: relative;
  width: 75%;
  height: 30px;
  margin-top: 8px;
  margin-left: 20%;
  border: 1px solid rgba(70,126,155,1);
  overflow: hidden;
}
.progreso{
  position: relative;
  left: -100%;
  background: rgba(70,126,155,0.3);
  width: 100%;
  height: 100%;
  -webkit-transition: 6s all;
}
.contSugerencias h2{
  font-size: 18px;
  font-weight: 400;
  margin-top: 50px;
}
/** Especifica **/
.palabraEspecifica{
  position: relative;
  top: 50px;
  width: 100%;
  height: 200px;
  background: rgba(70,126,155,0.6);
}
.palabraEspecifica h1{
  text-align: center;
  position: relative;
  top: 60px;
  width: 100%;
  font-size: 50px;
  font-weight: 400;
  color: rgba(0,0,0,0.6);
}
.contenedorSugerencias{
  background: #F7F7F7;
  position: relative;
  top: 29.5px;
  width: 100%;
  height: calc(100% - 230px);
  overflow: scroll;
  box-shadow: 0 0 10px gray;
}
.sugerenciaTarjeta{
  position: relative;
  border-radius: 5px;
  height: 50px;
  margin-top: 2%;
  margin-bottom: 2%;
  margin-left: 10%;
  width: 80%;
  border: 1px solid #f2f2f2;
  background: white;
  overflow: hidden;
}
.sugerenciaTarjeta .banderaSug{
  width: 15%;
  height: 60%;
  position: relative;
  top: 17%;
  float: left;
  margin-left: 3%;
}
.sugerenciaTarjeta h2{
  width: 38%;
  height: 70%;
  margin-top: 5%;
  margin-left: 3%;
  font-weight: 400;
  float: left;
  font-size: 18px;
}
.sugerenciaTarjeta .opcionesSug{
  position: relative;
  left: 7%;
  padding: 5px;
  width: 13%;
  height: 80%;
}
.sugerenciaTarjeta .aceptar:hover{
  background: rgba(64,143,243,0.1);
}
.sugerenciaTarjeta .rechazar:hover{
  background: rgba(216,4,42,0.1);
}
.empty{
  position: relative;
  top: 100px;
  left: 30%;
  width: 40%;
  text-align: center;
  opacity: 0.5;
}
.empty img{
  position: relative;
  width: 100px;
}
.empty h3{
  font-weight: 400;
  margin-top: 10px;
  font-size: 18px;
  height: 30px;
}
#backEsp{
  position: relative;
  top: 15px;
  left: 3%;
  float: left;
  width: 20px;
  height: 20px;
  margin-right: 5px;
  -webkit-filter: invert(100%);
}
/** Index **/
.palabraEspecifica .speaker{
  text-align: center;
  position: relative;
  left: 73%;
  width: 50px;
  top: 60px;
}
#sTitulo:hover{
  opacity: 0.3;
}
.report-cont{
  position: absolute;
  top: 0;
  background: rgba(0,0,0,0.5);
  width: 100%;
  height: 100%;
  z-index: 1;
  visibility: hidden;
  opacity: 0;
  transition: 0.5s all;
}
.report{
  position: absolute;
  visibility: hidden;
  top: 30%;
  left: 30%;
  width: 150px;
  height: 150px;
  background: white;
  z-index: 11;
  text-align: center;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0,0,0,0.6);
}
.report img{
  margin-top: 10px;
  width: 80px;
  height: 80px;
}
.report h3{
  font-weight: 400;
  font-size: 18px;
  margin-top: 15px;
}
.report-in:hover{
  width: 100%;
  height: 100%;
  background-color: rgba(50,137,199,0.2);
}
#definicionImg{
  position: relative;
  float: left;
  top: 70px;
  left: 2%;
  width: 40px;
}
.definicion{
  position: absolute;
  top: 50px;
  left: 10%;
  width: 80%;
  background: red;
  z-index: 111;
  border-radius: 5px;
  background: white;
  box-shadow: 0 0 8px rgba(0,0,0,0.4);
  text-align: center;
  visibility: hidden;
}
.definicion h3{
  width: 80%;
  text-align: justify;
  margin-left: 10%;
  font-size: 20px;
  margin-top: 15px;
  font-weight: 400;
}
.definicion h5{
  color: rgba(70, 126, 155, 1);
  float: right;
  margin-right: 10%;
  font-size: 18px;
  font-weight: 600;
  margin-top: 10px;
  margin-bottom: 10px;
}
.definicion h5:hover{
  cursor: pointer;
}
/**Recuperar Pass**/
.recuperarPass{
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 11;
  visibility: hidden;
  background: rgba(0,0,0,0.6);
  opacity: 0;
  transition: 0.5s all;
}
.res-inPass{
  visibility: hidden;
  position: absolute;
  top: 40%;
  left: 13%;
  width: 75%;
  height: 150px;
  background: rgba(70,126,140,1);
  text-align: center;
  border-radius: 5px;
  z-index: 111111;
}
.res-inPass input{
  width: 90%;
  margin-top: 30px;
}
.res-inPass #recuperar{
  width: 35%;
  margin-top: 20px;
}
#olvidarPassword{
  color: white;
}

/*.paises_relacionados {
  width: 100%;
  height: 50%;
  position: relative;
  margin-top: 5%;
  overflow-x: scroll;
  white-space: nowrap;
}
.pais_relacionado{
  margin-top: 8%;
  margin-left: 6%;
  width: 30%;
  height: 50%;
  position: relative;
  display: inline-block;
}*/

.paises_relacionados {
  margin-left: -5%;
  width: 100%;
  height: auto;
  position: relative;
  margin-top: 5%;

}
/*.con_relacion {
  height: auto !important;
}*/
.pais_relacionado{
  margin-left: 5%;
  margin-top: 6%;
  width: 28%;
  height: 50px;
  position: relative;
  float: left;
  background-color: black;
  transition: .4s ease-in-out;
}
.paises_con_relacion{
  position: relative;
  width: 100%;
  height: 110px;

}
.background_white img{
  opacity: 1 !important;
}
.paises_sin_relacion {
  position: relative;
  width: 100%;
  margin-bottom: 20%;
  height: 100px;

}

.paises_con_relacion{
  display:none;
}
.paises_sin_relacion{
  display:none;
  margin-bottom: 20%;
}

.pais_relacionado img{
  width: 100%;
  height: 100%;
  transition: .1s ease-in-out;
}

.sugerir_palabra_ac{
  margin-top: 20% !important;
  margin-bottom: 10% !important;
}
