<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <style>
    .headerEmail{
        background: rgba(70, 126, 155, 1);
        width: 100%;
        height: 70px;
        border-bottom: 1px solid rgba(0,0,0,0.1);
    }
    .headerEmail img{
        position: relative;
        margin-top: 10px;
        margin-left: 10px;
        width: 50px;
        float: left;
        -webkit-filter: invert(100%);
    }
    .headerEmail h1{
        position: relative;
        margin-top: 35px;
        margin-left: 15px;
        font-weight: 400;
        font-size: 24px;
        color: white;
    }
    .cuerpoMensaje{
        width: 100%;
        height: 500px;
        background: rgba(70, 126, 155, 0.7);
    }
    .cuerpoMensaje h1{
        color: rgba(255,255,255,0.8);
        width: 95%;
        position: relative;
        margin-top: 20px;
        margin-left: 5%;
        font-size: 30px;
        font-weight: 400;
        float: left;
    }
    .cuerpoMensaje h3, a{
        font-weight: 400;
        color: rgba(255,255,255,0.8);
        position: relative;
        float: left;
        margin-left: 5%;
        margin-top: 5px;
        width: 95%;
    }
    #atte{
        margin-top: 80px;
    }
    </style>
</head>
<body>
  <div class="contenedor">
   <div class="headerEmail">
       <img src="{{ $message->embed(public_path() . '/img/icono.png') }}" alt="logo">
       <h1 style="padding-top: 35px;">Ntendamonos</h1>
   </div>
   <div class="cuerpoMensaje">
       <h1>Hola, {{$usuario}}:</h1>
        <h3>Para confirmar tu cuenta, es necesario que vayas a la siguiente dirección: </h3>
        <br><a href="{{$ruta}}">{{$ruta}}</a><br>
        <h3>Si no has solicitado unirte a la comunidad, por favor ignora este email.</h3>
        <h3 id="atte">Atentamente,<br>
        El equipo de cuentas de Ntendamonos</h3>
   </div>
  </div>
</body>
</html>
