<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <!-- Chrome, Firefox OS, Opera and Vivaldi -->
	<meta name="theme-color" content="#467E9B">
	<!-- Windows Phone -->
	<meta name="msapplication-navbutton-color" content="#467E9B">
	<!-- iOS Safari -->
	<meta name="apple-mobile-web-app-status-bar-style" content="#467E9B">
  <link rel="icon" href="img/icono.ico" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Revaluación</title>
  <link rel="stylesheet" href="cssBoostrap/bootstrap.css">
  <link rel="stylesheet" href="css/desktop-style.css">
  <script src="js/jquery-3.1.1.js"></script>
  <script src="js/hammer.js"></script>
  <link rel="stylesheet" href="css/css/swiper.css">
  <script type="text/javascript" src="js/js/swiper.js"></script>
  <script src="js/jquery.hammer.js-master/jquery.hammer.js"></script>
  <script type="text/javascript" src="js/funciones.js"></script>
  <script type="text/javascript" src="js/funciones_mas.js"></script>
  <script type="text/javascript" src="js/funciones_index.js"></script>
  <script type="text/javascript" src="js/funciones_resize.js"></script>
    <link rel="stylesheet" href="font-awesome/css/font-awesome.css">
  <script src='https://code.responsivevoice.org/responsivevoice.js'></script><!-- api texo a voz -->
</head>
<script>
  validar_sesion();
</script>
<body>
  <div class="container-fluid full">
   <div class=" text-center notificaciones" id="notificaciones">
    <h1>Registrado</h1>
  </div>
<div class="contMenu " id="menu1" onclick="ocultarMenu()"></div>
<div class="col-lg-offset-2 col-sm-8 menuIcono sugerenciaRespMenu" id="menuDes">
   <!-- <img src="img/menu.png" alt="menu" onclick="desplegarMenu()"> -->
     <i style="color: rgba(255,255,255,.9); float: left; font-size: 31px; margin-left: 11px; margin-top: 9px;" class="fa fa-arrow-left" onclick="desplegarMenu()" aria-hidden="true"></i>
    <h1>Revaluacion</h1>
  </div>

  <div class="menuDesplegable col-xs-9 col-sm-4 col-md-3 col-lg-2" id="menu2" >
    <div class="text-center imgB">
      <img class="imgPerM row " src="img/imgPerfil/default.jpg" id="imgPerM" alt="" />
    </div>

    <!-- <div id="tituloMenu"></div> -->
    <div class="opMenu row">
      <a  href="principal.html"><div id="inicio2" class=" opciones activo"><i class="fa fa-home" aria-hidden="true"></i><h2>Inicio</h2></div></a>
      <a href="palabras.html"><div class="opciones activo"><i class="fa fa-list-alt" aria-hidden="true"></i><h2>Palabras</h2></div></a>
      <div id="cont_menu"></div>
      <a id="salirSesion"><div class=" opciones"><i class="fa fa-sign-out" aria-hidden="true"></i><h2>Salir</h2></div></a>
    </div>
  </div>


  <div class="contenedor-principal">
    <div class="report-cont" id="reporte" onclick="ocultarReporte()">

    </div>
    <div class="reportes" id="reportes">

    </div>

      <div class="resultados sugerenciaResp">
        <div class="menuIcono  sugerenciaRespMenu">
          <i style="color: rgba(255,255,255,.9); float: left; font-size: 31px; margin-left: 11px; margin-top: 9px;" class="fa fa-arrow-left" id="backEsp" onclick="retrocederRe()" aria-hidden="true"></i>
          <!-- <img style="  float: left; width: 31px; margin-left: 11px; margin-top: 10px; -webkit-filter: invert(100%);" src="img/back.png" alt="back" /> -->
          <h1>Revaluaciones</h1>
        </div>
        <div class="col-xs-12 col-lg-12 palabraEspecifica">
          <!-- <div class="col-lg-12 report-dv">
              <img src="img/a.png" id="reportar" alt="" class="text-right"/>
          </div> -->
          <h1 id="palabraPadre2">{{ palabra }}</h1>
           <!-- <div class="col-lg-12 palabrasDes">
            <img src="img/definicion.png" alt="definicion" id="definicionImg"  onclick="mostrarDefinicion()"/>
            <img src="img/speakerPrincipal.png" id="sTitulo" alt="rechazar" class="text-right opcionesSug rechazar speaker" onclick=""/>
          </div> -->
          <input type="hidden" name="name" id="palabraPadreId" value="">
        </div>
        <div class="col-xs-12 col-sm-12  col-md-12  col-lg-12 banderaPrincipal">
          <img id="banderaPrincipal2" src="" alt="bandera" class="">
          <div class="col-xs-6 col-xs-offset-3 col-sm-3 col-sm-offset-7 col-lg-2 col-lg-offset-9 palabrasDes">
             <!-- <img src="img/definicion.png" alt="definicion" id="definicionImg"  onclick="mostrarDefinicion()"/> -->
             <!-- <img src="img/speakerPrincipal.png" id="sTitulo" alt="rechazar" class="text-right opcionesSug rechazar speaker" onclick=""/> -->
             <i class="fo" onclick="mostrarReportar()" style="font-size: 35px; color:#528AA8" aria-hidden="true"></i>
             <i class="fa fa-picture-o" onclick="cargar_subir_img()" style="font-size: 35px; color:#528AA8" aria-hidden="true"></i>
             <i class="fa fa-volume-up" id="sTitulo" style="font-size: 35px; color:#528AA8" aria-hidden="true"></i>
          </div>
        </div>
        <div class="col-lg-12 contenedorDefinicion" id="">
          <div class="col-lg-12 definiciones"><h3 class="titulos_definiciones">Definición glosario hidrológico latinoamericano</h3><h3 class="acomodar_div text-justify" id="definicion_ifilac2"></h3></div>
          <div class="col-lg-12 definiciones"><h3 class="titulos_definiciones">Definición glosario hidrológico internacional</h3><h3 class="acomodar_div text-justify" id="definicion_unesco2"> </h3></div>
          <div class="col-lg-12 definiciones"><h3 class="titulos_definiciones">Definición más común en latinoamerica</h3><h3 class=" acomodar_div text-justify" id="definicion_general2"></h3></div>
          <!-- <h3 id="palabraDefinicion"></h3> -->
        </div>
        <div class="col-lg-12  contenedorSugerencias" id="contenedorSugerencias">



        </div>
      </div>
    </div>
</div>
</body>
</html>
