<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <!-- Chrome, Firefox OS, Opera and Vivaldi -->
	<meta name="theme-color" content="#467E9B">
	<!-- Windows Phone -->
	<meta name="msapplication-navbutton-color" content="#467E9B">
	<!-- iOS Safari -->
	<meta name="apple-mobile-web-app-status-bar-style" content="#467E9B">
  <link rel="icon" href="img/icono.ico" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Login</title>
  <!-- <link rel="stylesheet" href="css/estilos.css"> -->
  <link rel="stylesheet" href="css/desktop-style.css">
  <link rel="stylesheet" href="cssBoostrap/bootstrap.css">
  <script src="js/jquery-3.1.1.js"></script>
  <script src="js/hammer.js"></script>
  <script src="js/jquery.hammer.js-master/jquery.hammer.js"></script>
  <script type="text/javascript" src="js/funciones.js"></script>
  <script type="text/javascript" src="js/funciones_mas.js"></script>
  <script src='https://code.responsivevoice.org/responsivevoice.js'></script><!-- api texo a voz -->
</head>
<body>

<div class="container-fluid">
    <div class=" text-center notificaciones" id="notificaciones">
        <h1>Registrado</h1>
    </div>
<!-- div del formulario -->
    <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4 info">
      <div class="logo col-xs-12">
        <div class="mini col-xs-6 col-md-5">
          <img src="img/1d.png" class="height">
        </div>
        <div class="mini col-xs-6 col-md-5">
          <img src="img/1c.png">
        </div>
      </div>

      <div class="col-xs-12 hidden-md hidden-lg hidden-sm tglo">
        <h3 class="title text-center">Glosario Hidrológico Latinoamericano</h3>
      </div>

      <div class="col-xs-12 arriba" id="datos_index">
        <h3 class="title text-center">Iniciar Sesión</h3>

        <form method="post" onsubmit="return false">
          <input type="hidden" name="_token" value="{{ csrf_token() }}" id="token">
          <div class="form-group">
            <label for="">Usuario</label>
            <input type="text" class="form-control" onfocus="this.placeholder=''" placeholder="Usuario" name="usuario" id="usuario" onblur="this.placeholder='Usuario'">
          </div>
          <div class="form-group">
            <label>Contraseña</label>
            <input type="password" class="form-control" placeholder="Contraseña" type="password" onfocus="this.placeholder=''" name="password" id="password" onblur="this.placeholder='Password'">
          </div>
          <br>
          <div class="col-xs-12 text-center">
            <button type="submit" class="btn btn-primary hover" id="login">Ingresar</button><br>
            <a class="invitado text-center" onclick="recPass()">¿Has olvidado tu contraseña?</a><br>
            <a class="invitado text-center" onclick="invitado()">Iniciar sesión como invitado</a>
          </div>
        </form>
      </div>

      <div class="col-xs-12 text-center regis">
          <a href="registro.html">Únete a la comunidad | <b>Regístrate</b></a>
      </div>

      <div class="footer col-xs-12">
        <div class="minif col-xs-3 col-md-2">
          <img src="img/uaq.png" class="height">
        </div>
        <div class="minif col-xs-3 col-md-2">
          <img src="img/info.png" class="height">
        </div>
        <div class="minif col-xs-3 col-md-2">
          <img src="img/inge.png" class="height">
        </div>
        <div class="minif col-xs-3 col-md-2">
          <img src="img/ciaq.png" class="height">
        </div>
        <div class="minif col-xs-3 col-md-2">
          <img src="img/cede.png" class="height">
        </div>
      </div>

    </div>
<!-- div de la imagen y título -->
    <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8 img hidden-xs">

      <div class="col-sm-12 col-md-12 encabezado">
        <h2>Glosario <br>Hidrológico <br>Latinoamericano</h2>
      </div>

    </div>

</div>

<!-- <div class="container-fluid">
  <div class=" text-center notificaciones" id="notificaciones">
    <h1>Registrado</h1>
  </div>
  <div class="">
    <div class="col-xs-12  col-lg-12 icono">
      <img class="text-center col-xs-10 col-xs-offset-1 col-sm-6 col-sm-offset-3 col-md-offset-4 col-md-4 col-lg-4 col-lg-offset-4" src="img/icono.png" alt="logo">
     <h1 class="text-center col-xs-10 col-xs-offset-1 col-sm-6 col-sm-offset-3 col-md-offset-4 col-md-4 col-lg-4 col-lg-offset-4" id="logAuto">Glosario Hidrológico</h1>
    </div>
  </div>
  <div class="">
      <form method="post" onsubmit="return false">
      <input type="hidden" name="_token" value="{{ csrf_token() }}" id="token">
      <div class="datos-login col-xs-12 col-sm-offset-2 col-sm-8 col-md-6 col-md-offset-3 col-lg-offset-4 col-lg-4 ">
        <div class="form-group text-center">
          <input type="text" onfocus="this.placeholder=''" placeholder="Usuario" name="usuario" id="usuario" onblur="this.placeholder='Usuario'">
          <input type="password" onfocus="this.placeholder=''" placeholder="Contraseña" name="password" id="password" onblur="this.placeholder='Password'">
          <div class="login-top">
            <input type="submit" readonly="readonly" placeholder="Iniciar Sesión" value="Iniciar Sesión" class=" especial-input" id="login">
            <div class="contenido-opciones">
              <a href="registro.html"><input type="text" readonly placeholder="Únete a la comunidad" class="especial-input"></a>
            <input type="submit"  onclick="invitado();" class="invitado" name="" value="Iniciar sesión como invitado">
            </div>
          </div>
          </div>
        </div>
      </form>
    </div>
  </div> -->



<!-- <div class="notificaciones" id="notificaciones">
        <h1>Registrado</h1>
  </div>
<div class="recuperarPass" id="contSPass" onclick="ocultarRecPas()"></div>
<div class="res-inPass datos-login" id="contSin">
  <input type="text" name="username" placeholder="Usuario" id="UserPass">
  <input type="submit" readonly="readonly" value="Recuperar" placeholder="Recuperar Password" class="especial-input" id="recuperar">
</div> -->

<div class="colorfondo"></div>
</body>
<script>
    $(function(){
        if(sessionStorage.getItem("notificacion")){
            /*palabra(sessionStorage.getItem("notificacion"));*/
            sessionStorage.removeItem("notificacion");
        }
        notiIndex();
    });
</script>
</html>
