<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <!-- Chrome, Firefox OS, Opera and Vivaldi -->
	<meta name="theme-color" content="#467E9B">
	<!-- Windows Phone -->
	<meta name="msapplication-navbutton-color" content="#467E9B">
	<!-- iOS Safari -->
	<meta name="apple-mobile-web-app-status-bar-style" content="#467E9B">
  <link rel="icon" href="img/icono.ico" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Modificar Password</title>
  <link rel="stylesheet" href="css/desktop-style.css">
  <link rel="stylesheet" href="cssBoostrap/bootstrap.css">
  <script src="js/jquery-3.1.1.js"></script>
  <script src="js/hammer.js"></script>
  <script src="js/jquery.hammer.js-master/jquery.hammer.js"></script>
  <script type="text/javascript" src="js/funciones.js"></script>
    <script type="text/javascript" src="js/funciones_mas.js"></script>
  <script type="text/javascript" src="js/funciones_index.js"></script>
  <script src='https://code.responsivevoice.org/responsivevoice.js'></script><!-- api texo a voz -->
</head>
<script>
  // validar_sesion();
</script>
<body>

  <div class="container-fluid">
      <div class=" text-center notificaciones" id="notificaciones">
          <h1></h1>
      </div>
      <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4 info">

        <div class="col-xs-12 arriba">
          <div class="col-xs-12 hidden-md hidden-lg hidden-sm">
            <h3 class="title text-center">Glosario Hidrológico Latinoamericano</h3>
          </div>
          <h4 class="title text-center">Cambiar Contraseña</h4>
          <form method="post" onsubmit="return false">
            <input type="hidden" name="name" value="{{$idUsuario}}" id="idUsuario">

            <div class="form-group">
              <label for="">Nueva Contraseña</label>
              <input type="password" class="form-control" onfocus="this.placeholder=''" placeholder="Nueva Contraseña" name="usuario" id="password" onblur="this.placeholder='Usuario'">
            </div>
            <div class="form-group">
              <label for="">Confirmar contraseña</label>
              <input type="password" class="form-control" onfocus="this.placeholder=''" placeholder="Confirmar contraseña" name="usuario" id="verifpassword" onblur="this.placeholder='Usuario'">
            </div>
            <div class="col-xs-12 text-center">
              <button type="submit" class="btn btn-primary" id="confirmarPassword">Confirmar</button>
                <button type="submit" class="btn btn-primary" id="cancelarPassword">Cancelar</button>
            </div>

          </form>
        </div>

      </div>

      <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8 img hidden-xs">
        <div class="col-sm-12 col-md-12 encabezado">
          <h2>Glosario <br>Hidrológico <br>Latinoamericano</h2>
        </div>
      </div>
  </div>



<!-- <div class="notificaciones" id="notificaciones"></div>
<div class="contenedor-principal">
    <img src="img/wallpaper.png" alt="" id="wallpaper">
    <div class="colorfondo"></div>
    <div class="icono">
      <img src="img/icono.png" alt="logo">
      <h1>Ntendamonos</h1>
    </div>
    <form method="post" onsubmit="return false">
      <input type="hidden" name="_token" value="{{ csrf_token() }}" id="token">
    <div class="datos-login">
      <input type="hidden" name="name" value="{{$idUsuario}}" id="idUsuario">
      <input type="password" onfocus="this.placeholder=''" placeholder="Nueva Password" name="password" id="password" onblur="this.placeholder='Nueva Password'">
      <input type="password" onfocus="this.placeholder=''" placeholder="Verif-Password" name="verifpassword" id="verifpassword" onblur="this.placeholder='Verif-Password'">
      <input type="submit" readonly="readonly" value="Confirmar" class="especial-input" id="confirmarPassword">
      <input type="submit" readonly="readonly" value="Cancelar" class="especial-input" id="cancelarPassword">
    </div>
    </form>
  </div> -->
</body>
</html>
